<div class="container mx-auto p-4 flex gap-3">

  <div class="w-2/3 border p-4">
    <div class="flex items-center justify-between">
      <h3 class="text-2xl font-bold my-4">Test technique</h3>
      <span routerLink="/hr/tests/create" class="fa fa-plus font-bold"></span>
    </div>
    
    <p class="font-sm mb-4">
      Concevez un test technique élaboré afin de qualifier de manière approfondie les compétences et les aptitudes des nouveaux candidats au sein de votre équipe, assurant ainsi une évaluation exhaustive de leurs connaissances pratiques dans le contexte spécifique de votre domaine d'activités.
    </p>
    <hr />
    <div>
      <div class="flex justify-between my-4">
        <button class="border rounded-sm px-3.5 py-1.5 text-gray-600" (click)="getTests()">Tout</button>
        <input type="text" class="border rounded-sm px-3.5 py-1.5" (keypress)="searchTests()" [(ngModel)]="searchQuery" placeholder="rechercher ..." />
       
      </div>
      <div>
          <div *ngFor="let test of tests" class="flex p-3 my-3 items-center border gap-8" routerLink="/hr/tests/{{ test.id}}/show">
            <div>
              <span class="text-blue-500 text-4xl fa fa-file-pen" ></span>
            </div>
           <div>
            <h3 class="font-bold">  {{ test.title }} </h3>
            <p class="text-gray-400">{{ test.description }}</p>
            <p class="text-gray-400">3 candidates ayant passé ce test.</p>
           </div>
         

          </div>
      </div>
    </div>

  </div>
  <div>

  </div>
  <div class="w-1/3 border p-4">
    <h3 class=" text-2xl font-bold my-4">Évaluation</h3>
    <div class="flex gap-8">
        <div class="p-4">
          <p class="text-center font-medium text-green-600">
            3 <br /> Succès
          </p>

        </div>
        <div class="py-4 px-2">
          <p class="text-center font-medium text-red-600">
            1 <br />
            Échec</p>
    
        </div>
    </div>
   

  </div>
  <div>

  </div>
</div>
  