<div class="register-container">
    <p class="text-center mb-4">Vous avez déjà un compte. <a class="text-blue-700 font-medium" routerLink="/guest/login">Se
            connecter</a> </p>
    <h2 class="font-bold text-2xl mb-4 text-center">Inscription</h2>
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <div class="mb-4">
            <label for="firstname" class="block text-gray-700">Prénom</label>
            <input type="text" name="firstname" ngModel id="firstname" class="w-full p-2 border rounded" placeholder="Votre prenom ..." required>
        </div>
        <div class="mb-4">
            <label for="lastname" class="block text-gray-700">Nom</label>
            <input type="text" ngModel name="lastname" id="lastname" class="w-full p-2 border rounded" placeholder="Votre nom ..." required>
        </div>
        <div class="mb-4">
            <label for="email" class="block text-gray-700">Email</label>
            <input type="email" ngModel id="email" name="username" class="w-full p-2 border rounded" placeholder="Votre email ..." required>
        </div>
        <div class="mb-4">
            <label for="password" class="block text-gray-700">Mot de passe</label>
            <input type="password" ngModel id="password" name="password" class="w-full p-2 border rounded" placeholder="Mot de passe ..."
                required>
        </div>
        <div class="mb-4">
            <label for="phone" class="block text-gray-700">Numéro de portable</label>
            <input type="tel" id="phone" ngModel name="phone" class="w-full p-2 border rounded" placeholder="Numero de portable ..."
                required>
        </div>
        <button type="submit" class="btn register">Inscrivez-vous</button>
    </form>
</div>

<app-inscription-modal
  [isOpen]="isModalOpen"
  (close)="closeModal()"
  (submit)="onSubmit($event)"
></app-inscription-modal>