<div class="bg-white p-4 text-center text-2xl font-medium">
    <h1>Optimiser nos ressources humaines pour un avenir prospère.</h1>

</div>

<div class="flex w-3/4 mx-auto my-5 flex-wrap">
    <div class="w-1/2 text-center p-4">
        <div class="card p-8 border">
            <img src="assets/job-offer.svg" class="h-48 mx-auto my-4" />
            <p class="mb-3 text-sm">
                Publier une offre d'emploi pour annoncer votre poste vacant et atteindre des millions de candidatures.
            </p>
            <a routerLink="/hr/offers/create" class="bg-rose-600 rounded text-bold text-sm text-white px-3.5 py-1.5">Publier une offre</a>
        </div>
    </div>
    <div class="w-1/2 text-center p-4">
        <div class="card p-8 border">
            <img src="assets/candidates.svg" class="h-48 mx-auto my-4" />
            <p class="mb-3 text-sm">
                Découvrez une multitude de candidats qualifiés prêts à répondre à vos besoins de recrutement.
            </p>
            <button class="bg-rose-600 rounded text-bold text-sm text-white px-3.5 py-1.5" routerLink="/hr/offers">Candidatures</button>
        </div>
    </div>
    <div class="w-1/3 text-center p-4">
    <div class="card p-8 border">
        <h3 class="font-bold text-2xl my-4 ">Entretiens</h3>
        <img src="assets/interviews.svg" class="h-48 mx-auto my-4" />
        <p class="mb-3 text-sm">
            Découvrez des candidats exceptionnels prêts à passer des entretiens.
        </p>
        <a routerLink="/hr/interviews" class="bg-rose-600 rounded text-bold text-sm text-white px-3.5 py-1.5">Entretiens</a>
    </div>
    </div>
    <div class="w-1/3 text-center p-4">
    <div class="card p-8 border">
        <h3 class="font-bold text-2xl my-4 ">Tests</h3>
        <img src="assets/tests.svg" class="h-48 mx-auto my-4" />
        <p class="mb-3 text-sm">
            Identifier des talents exceptionnels prêts à se démarquer lors de tests techniques.
        </p>
        <a routerLink="/hr/tests" class="bg-rose-600 rounded text-bold text-sm text-white px-3.5 py-1.5">Tests</a>
    </div>
    </div>
    <div class="w-1/3 text-center p-4">
    <div class="card p-8 border">
        <h3 class="font-bold text-2xl my-4 ">Mes emplois</h3>
        <img src="assets/candidates.svg" class="h-48 mx-auto my-4" />
        <p class="mb-3 text-sm">
            Découvrez une multitude de candidats qualifiés prêts à répondre à vos besoins de recrutement.
        </p>
        <button class="bg-rose-600 rounded text-bold text-sm text-white px-3.5 py-1.5" routerLink="/hr/offers">Emplois</button>
    </div>
    </div>
</div>