<footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto text-center">
        <p class="mb-4">© 2024 BeeCoders. All rights reserved.</p>
        <div class="social-icons flex justify-center space-x-4">
            <a href="https://facebook.com" target="_blank" class="text-white hover:text-blue-500">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com" target="_blank" class="text-white hover:text-blue-400">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="text-white hover:text-pink-400">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://linkedin.com" target="_blank" class="text-white hover:text-blue-600">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com" target="_blank" class="text-white hover:text-gray-400">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</footer>